<!DOCTYPE html>

<title>Category</title>

{% block body %}
    <h1>Category: {{ category.name }}</h1>

    <h2>Articles</h2>
    <ul>
        {% for article in category.articles %}
            <li>{{ article.name }}</li>
        {% endfor %}
        <a href="{{ path('admin_article_new') }}">Ajouter un article</a>

    </ul>


    <a href="{{ path('admin_category_index') }}">Retour a la liste</a><br>

    <a href="{{ path('admin_category_edit', {'id': category.id}) }}">Edit</a>


    {{ include('back/category/_delete_form.html.twig') }}
{% endblock %}
