{% extends 'base_front.html.twig' %}

{% block title %}B+B - Cart{% endblock %}

{% block body %}
<div>Cart</div>

{% for cartArticle in cartArticles %}

    <div>
        <h3>{{ cartArticle.article.name }}</h3>
        <p>{{ cartArticle.article.price }} €</p>
        <p>Quantity: {{ cartArticle.quantity }}</p>
    </div>
    <br>
{% endfor %}

<h1>Total: {{ priceTotal }} €</h1>

<a href="{{ path('client_checkout')}}">Checkout</a>

{% endblock %}
