{% extends 'base_back.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <h1 class="title-back">Liste des clients</h1>

    <table id="table_id" class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Vérifié</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.firstName }}</td>
                    <td>{{ client.lastName }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.roles ? client.roles|json_encode : '' }}</td>
                    <td>{{ client.isVerified ? 'Oui' : 'Non' }}</td>
                    <td>
                        {# <a href="{{ path('admin_app_user_show', {'id': client.id}) }}">Afficher</a> #}
                        {{ include('back/client/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">Aucun client trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready( function () {
            $('#table_id').DataTable({
                scrollX: true,
            });
        } );
    </script>
{% endblock %}
