{% extends 'base_back.html.twig' %}

{% block title %}{{ client.firstName }} {{ client.lastName }}{% endblock %}

{% block body %}
    <h1>{{ client.firstName }} {{ client.lastName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ client.roles ? client.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ client.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_app_client_index') }}">back to list</a>

    <a href="{{ path('admin_app_client_edit', {'id': client.id}) }}">edit</a>

    {{ include('back/employee/_delete_form.html.twig') }}
{% endblock %}
