{% extends 'base_front.html.twig' %}

{% block title %}B+B{% endblock %}

{% block body %}
    {% for category in categories %}
    <div class="mb-5">
        <h2 class="text-xl font-bold mb-3">
        {{ category.name }}

        </h2>

        <ul>
            {% for article in category.articles %}
                <li>
                <div>
                {{ article.name }}
                {{ article.price }}
                {% if article.getImageName() %}
                    <img src="{{ asset('uploads/articles/' ~ article.getImageName()) }}" alt="{{ article.name }} image" style="width: 150px; height: 150px">
                {% else %}
                    <img src="{{ asset('images/placeholder150.png') }}" alt="{{ article.name }} image" style="width: 150px; height: 150px">
                {% endif %}
                </div>
                </li>
                <button class="add-to-cart" data-article-id="{{ article.id }}">Add to Cart</button>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    <a href="{{ path("client_app_cart") }}">Go to cart screen <span id="cart-item-count">{{ cart_quantity }}</span></a>



    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var addToCartButtons = document.querySelectorAll('.add-to-cart');

            addToCartButtons.forEach(function(button) {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    var articleId = button.dataset.articleId;

                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/cart/add-to-cart/' + articleId);
                    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            if (response.success) {
                                var cartItemCount = document.getElementById('cart-item-count');
                                var count = response.cartItemCount;
                                cartItemCount.textContent = count;
                            }
                        }
                    };
                    xhr.send();
                });
            });
        });
    </script>

{% endblock %}
