{% extends 'base_front.html.twig' %}

{% block title %}B+B{% endblock %}

{% block body %}
    {% for category in categories %}
    <div class="mb-5">
        <h2 class="text-xl font-bold mb-3">
        {{ category.name }}

        </h2>

        <ul>
            {% for article in category.articles %}
                <li>
                <div>
                {{ article.name }}
                {{ article.price }}
                {% if article.getImageName() %}
                    <img src="{{ asset('uploads/articles/' ~ article.getImageName()) }}" alt="{{ article.name }} image" style="width: 150px; height: 150px">
                {% else %}
                    <img src="{{ asset('images/placeholder150.png') }}" alt="{{ article.name }} image" style="width: 150px; height: 150px">
                {% endif %}
                </div>
                </li>
                <button class="add-to-cart" data-name="{{ article.name }}" data-price="{{ article.price }}">Add to cart</button>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}


    <a href="{{ path("client_app_cart") }}">Go to cart screen</a>

{% endblock %}
