{% extends 'base_front.html.twig' %}

{% block title %}
    B+B
{% endblock %}

{% block body %}
    <nav class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 w-full border-b border-gray-200 dark:border-gray-600">
        <div class="flex flex-row justify-center items-center gap-3">
            {% for category in categories %}
                <a href="#" class="text-front-red text-lg mr-4 hover:font-bold transition-[font-weight] duration-250">
                    {{ category.name }}
                </a>
            {% endfor %}
        </div>
    </nav>

    <div class="font-ibm p-8 relative">
        <div class="flex flex-col gap-[80px]">
            {% for category in categories %}
                <div class="flex flex-col gap-5">
                    <h2 class="font-bold text-xl text-center">
                        {{ category.name }}
                    </h2>
                    <div class="md:grid md:grid-cols-3 lg:grid-cols-4 place-items-center flex flex-col gap-16">
                        {% for article in category.articles %}
                            <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                                <div class="flex flex-col items-center py-10">
                                    {% if article.getImageName() %}
                                        <img class="w-24 h-24 object-cover mb-3 rounded-3xl shadow-lg"
                                            src="{{
                                            asset(
                                                'uploads/articles/'
                                                    ~ article.getImageName()
                                            )
                                            }}"
                                            alt="{{ article.name }}" />
                                    {% else %}
                                        <img class="w-24 h-24 mb-3 rounded-3xl shadow-lg"
                                            src="{{
                                            asset(
                                                'images/placeholder150.png'
                                            )
                                            }}"
                                            alt="{{ article.name }}" />
                                    {% endif %}

                                    <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
                                        {{ article.name }}
                                    </h5>
                                    <span class="text-sm text-gray-500 dark:text-gray-400">
                                        {{ article.price }} €
                                    </span>
                                    <div class="flex mt-4 space-x-3 md:mt-6">
                                        <button class="add-to-cart w-[150px] justify-center inline-flex items-center px-4 py-2 text-sm font-medium text-center border border-gray-200 shadow rounded-lg hover:shadow-md transition-shadow"
                                            data-article-id="{{ article.id }}">
                                            <i class="text-front-red fa-solid fa-plus">

                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="sticky bottom-0 right-0 p-4 flex justify-end items-center">
            <a href="{{ path('client_app_cart') }}">
                <button class="bg-front-red p-4 rounded-full hover:opacity-50 transition-opacity">
                    <i class="fa-solid fa-shopping-cart text-white"></i>
                    <span id="cart-item-count" class="text-white">
                        {{ cart_quantity }}
                    </span>
                </button>
            </a>
        </div>
    </div>
<<<<<<< HEAD
=======
    {% endfor %}

    <a href="{{ path("client_app_cart") }}">Go to cart screen <span id="cart-item-count">{{ cart_quantity }}</span></a> <br>
    <br><h1> Reviews </h1>
    {% for review in reviews %}
        <br>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ review.getUser().getFirstname() }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ review.createdAt|date('d/m/Y') }}</h6>
                <p class="card-text">{{ review.comment }}</p>
                <p class="card-text">{{ review.note }}</p>
            </div>
        </div>

    {% endfor %}

>>>>>>> feature/reviews

    <script>
        document.addEventListener('DOMContentLoaded', function() { var
        addToCartButtons = document.querySelectorAll('.add-to-cart');

        addToCartButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
        event.preventDefault(); var articleId = button.dataset.articleId;

        var xhr = new XMLHttpRequest(); xhr.open('POST', '/cart/add-to-cart/' +
        articleId); xhr.setRequestHeader('Content-Type',
        'application/x-www-form-urlencoded'); xhr.onreadystatechange =
        function() { if (xhr.readyState === XMLHttpRequest.DONE && xhr.status
        === 200) { var response = JSON.parse(xhr.responseText); if
        (response.success) { var cartItemCount =
        document.getElementById('cart-item-count'); var count =
        response.cartItemCount; cartItemCount.textContent = count; } } };
        xhr.send(); }); }); });
    </script>
<<<<<<< HEAD
=======

    <script>
        function showModal() {
            let modal = document.getElementById('myModal');
            modal.style.display = 'block';
        }

        function hideModal() {
            let modal = document.getElementById('myModal');
            modal.style.display = 'none';
        }

    </script>
>>>>>>> feature/reviews
{% endblock %}
