{% extends 'base_back.html.twig' %}

{% block body %}
    <h1>Reviews</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Reviewer Name</th>
            <th>Comment</th>
            <th>Approved</th>
            <th>Date</th>
            <th>Rate</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.getUserFullName() }}</td>
                <td>{{ review.comment }}</td>
                <td>
                    <input type="checkbox" class="review-approval" data-review-id="{{ review.id }}" {% if review.isApproved %}checked{% endif %}>
                </td>
                <td>{{ review.getDateTime() ? review.getDateTime()|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ review.note }} </td>
                <td>
                    {{ include('back/review/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        const approvalCheckboxes = document.querySelectorAll('.review-approval');
        approvalCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                const reviewId = this.getAttribute('data-review-id');
                const isApproved = this.checked;
                fetch(`/admin/review/update-status/${reviewId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        isApproved: isApproved,
                    }),
                })
            });
        });
    </script>
{% endblock %}
