{% extends 'base_back.html.twig' %}

{% block title %}
    B+B - Menu
{% endblock %}

{% block body %}
    <h1 class="title-back">
        Menu
    </h1>

    <div class="mb-8 flex flex-wrap gap-4">
        <a href="{{ path('admin_category_new') }}" class="btn-pink">
            Ajouter une catégorie
        </a>
        <a href="{{ path('admin_article_new') }}" class="btn-pink">
            Ajouter un article
        </a>
        <a href="{{ path('admin_app_tag_new') }}" class="btn-pink">
            Ajouter un tag
        </a>
    </div>

    <div class="mb-8">
        <h2 class="text-xl font-bold mb-3">
            Liste des tags
        </h2>
        {% for tag in tags %}
            <a href="{{
                path(
                    'admin_app_tag_edit',
                    {
                        id: tag.id
                    }
                )
                }}">
                <span style="background-color:{{ tag.color }}"
                    class="text-black text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
                    {{ tag.name }}
                </span>
            </a>
        {% else %}
            <p>
                Aucun tag, ajoutez-en un ici
            </p>
        {% endfor %}
    </div>

    <div class="flex flex-col gap-[80px]">
        {% for category in categories %}
            <div>
                <h2 class="text-xl font-bold mb-3 flex items-center gap-3">
                    {{ category.name }}
                    <a href="{{
                        path(
                            'admin_category_edit',
                            {
                                id: category.id
                            }
                        )
                        }}">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                </h2>

                <div class="sm:grid-cols-2 md:grid lg:grid-cols-4 place-items-center flex flex-col gap-8">
                    {% for article in category.articles %}
                        <a href="{{
                            path(
                                'admin_article_edit',
                                {
                                    id: article.id
                                }
                            )
                            }}"
                            class="w-full h-full rounded overflow-hidden shadow-lg">
                            {% if article.getImageName() %}
                                <img class="w-full h-[157px] object-cover"
                                    src="{{
                                    asset(
                                        'uploads/articles/'
                                            ~ article.getImageName()
                                    )
                                    }}"
                                    alt="{{ article.name }}" />
                            {% else %}
                                <img class="w-full h-[157px] object-cover"
                                    src="{{
                                    asset(
                                        'images/placeholder150.png'
                                    )
                                    }}"
                                    alt="{{ article.name }}" />
                            {% endif %}
                            <div class="px-6 py-4">
                                <div class="font-bold text-xl mb-2">
                                    {{ article.name }}
                                </div>
                                {% if article.tags|length > 0 %}
                                        {% for tag in article.tags %}
                                            <span style="background-color:{{ tag.color }}"
                                                class="text-black text-xs font-medium mr-2 px-2.5 py-0.5 rounded">
                                                {{ tag.name }}
                                            </span>
                                        {% endfor %}
                                {% endif %}
                                <p class="text-gray-700 text-base mt-2">
                                    {{ article.price }} €
                                </p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
