<!DOCTYPE html>

<title>Article index</title>

{% extends 'base_employee.html.twig' %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>OrderCount</th>
                <th>CreatedAt</th>
                <th>UpdatedAT</th>
                <th>Image</th>

            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td><a href="{{ path('client_article_show', {'id': article.id}) }}" >{{ article.name }}</a></td>
                <td>{{ article.price }}</td>
                <td>{{ article.category.getName() }}</td>
                <td>{{ article.orderCount }}</td>
                <td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ article.updatedAT ? article.updatedAT|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if article.getImageName() %}
                        <img src="{{ asset('uploads/articles/' ~ article.getImageName()) }}" alt="{{ article.name }} image" style="width: 50px; height: 50px">
                    {% endif %}</td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
